.test-card {
    background-color: $dark-green;

    .card-title {
        background: white;
        color: $dark-green;
        font-weight: 700;
        text-align: center;
        border-radius: 14px 2px;
    }

    .button-test{
        width: 47%;
    }

}