.form-container {
  background-color: white;
  max-width: 500px;
  margin: 50px auto;
  padding: 40px;
  // box-shadow: 12px -3px 13px 8px $dark-green;
  border: 1px solid rgb(143, 139, 139);
  border-radius: 14px;
  label {
    color: black;
    font-weight: 400;
  }
}

// label {
//   color: #116466;
//   font-weight: 700;
// }
