.container {
    max-width: 1200px;
    margin-top: 20px;
}
.question-container {
    margin-bottom: 20px;
}
.test-container {
    margin-top: 40px;
}
.test-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border-radius: 9px 23px;
}
.test-item h4 {
    margin-bottom: 10px;
}
.test-actions {
    margin-top: 15px;
}